<select id="search-destination" class="form-control" name="destination" required >
<option value="" selected disabled>Destination</option>
  <% for(let i = 0 ; i < airway.dest.length ; i++){ %>
    <option value="<%=airway.dest[i] %>"><%=airway.dest[i] %></option>
  <%}%>
</select>
