<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <meta name="generator" content="Jekyll v3.8.5">
  <title>Wiadro AirLines</title>

  <link rel="canonical" href="https://getbootstrap.com/docs/4.3/examples/sign-in/">

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <!-- Custom styles for this template -->
  <link href="css/styles.css" rel="stylesheet">

  <!-- jQuery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script type="text/javascript">
    let today = new Date();
    let month = today.getMonth()+2;
    let day = today.getDate()-22;
    (month < 10 ) ? month = "0" + month : true;
    (day < 10 ) ? day = "0" + day : true;
    today = today.getFullYear() + "-" + month + "-" + day;
    // today = 2020 + "-" + 02 + "-" + 01;
    console.log(today);


    $(document).ready(function(){
      $('input[type="date"]').attr("min", today);
      $('input[type="date"]').attr("value", today);
      $("#return").change(function(){
       if($(this).val() === "yes"){
         $(".datepicker2").removeAttr("disabled");
         $(".datepicker2").click(function(){
           $('input[type="date"]').attr("min", today);
         });
       }
       if($(this).val() === "no"){
         $(".datepicker2").attr("disabled", "");
       }
      });
    });
  </script>

</head>

<body>

  <header class="header-global">
    <nav id="navbar-main" class="navbar navbar-main navbar-expand-lg navbar-transparent navbar-dark navbar-theme-primary headroom py-lg-2 px-lg-6 headroom--not-bottom headroom--pinned headroom--top">
      <div class="container">
        <a class="navbar-brand" href="/">
         <img src="images/bucket.jpg" width="45" height="45" class="d-inline-block align-top logo" alt="">
         <div class="company">
           Wiadro AirLines
           <div class="slogan">
             <p><em>Fly high with us!</em></p>
           </div>
         </div>
        </a>



        <div class="d-none d-lg-block">
          <!-- <a href="/sign-in" class="btn btn-sm btn-success ml-3">Login</a> -->
          <a href="/sign-up" class="btn btn-sm btn-outline-success ml-3">Sign up</a>
          <a href="/users" class="btn btn-sm btn-success ml-3">Users</a>
        <div class="d-flex d-lg-none align-items-center"><a href="./html/pages/sign-in.html" class="btn btn-sm btn-success ml-3">Login</a> <a href="./html/pages/sign-up.html" class="btn btn-sm btn-light ml-3">Sign up</a>
          <button class="navbar-toggler ml-2" type="button" data-toggle="collapse" data-target="#navbar_global" aria-controls="navbar_global" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        </div>
      </div>
    </nav>
  </header>
