<select id="search-origin" class="form-control" name="origin" required >
<option value="" selected disabled>Origin</option>
  <% for(let i = 0 ; i < airway.src.length ; i++){ %>
    <option value="<%=airway.src[i] %>"><%=airway.src[i] %></option>
  <%}%>
</select>
