<%- include("partials/header") -%>

<main>
  <section class="hero">
    <div class="container">
      <div class="row-group">
        <div class="col-12 text-md-left">
          <h1 class="display-3">Select flights.</h1>
        </div>
      </div>
      <div class="row-group">
        <div class="flights-head">

        </div>
        <ul class="flights-panel">
          <li class=""></li>
          <li class=""></li>
        </ul>
      </div>
    </div>
  </section>
</main>

<%- include("partials/footer") -%>
