<%- include("partials/header") -%>

<main>
  <section class="hero">
    <div class="container">
      <div class="row">
        <!-- <div class="flights-head">
        </div> -->
        <!-- <ul class="flights-panel"> -->
            <%if(isFlight==0){%>
					<%- include("partials/cardByDate") -%>
				<%}else{%>
					<%- include("partials/card") -%>
				<%}%>
        <!-- </ul> -->
      </div>
    </div>
  </section>
</main>

<%- include("partials/footer") -%>
