
<%- include("partials/header") -%>
<main>
  <section class="hero">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 text-md-center">
          <!-- Heading -->
          <h1 class="display-2">Find your perfect <span class="font-weight-bolder super-word">flight.</span></h1>
          <!-- Text -->
          <p class="lead text-muted mt-4">We offer transport to over <span class="font-weight-bold super-word">50+</span> countries!
            <br>Discover and reserve a seat today.</p>
        </div>
      </div>
      <div class="row mt-4">
        <div class="col">
          <div class="card card-body">
            <form autocomplete="off" method="post" action="/flights">
              <div class="row">
                <div class="col-12 col-lg-6">
                  <div class="form-group mb-lg-0">
                    <label for="search-origin">Origin location</label>
                    <div class="input-group input-group-lg mb-lg-0">
                      <%- include("partials/originCities") -%>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-lg-6">
                  <div class="form-group mb-lg-0">
                    <label for="search-destination">Destination location</label>
                    <div class="input-group input-group-lg mb-lg-0">
                      <%- include("partials/destCities") -%>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-12 col-lg-6">
                  <label for="">Departure date</label>
                  <div class="input-group input-group-lg mb-3 mb-lg-0">
                    <input class="form-control datepicker1" name="departure" placeholder="Departure date" type="date" required="" value="">
                  </div>
                </div>

                <div class="col-12 col-lg-6">
                  <label for="">Number of people</label>
                  <div class="input-group input-group-lg mb-3 mb-lg-0">
                    <input class="form-control" name= "passengers" placeholder="Max. 180" type="number" min="0" max="180" required="">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-12 col-lg-12">
                  <label for=""> <br></label>
                  <button class="btn btn-lg btn-success btn-block mt-3 mt-md-0" type="submit">Find a flight</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
<%- include("partials/footer") -%>
