<%- include("partials/header") -%>
<main class="text-center">
  <form action="/" class="form-signin" method="POST">
  <img class="mb-4 logo" src="images/logo.jpg" alt="" width="72" height="72">
  <h1 class="h3 mb-3 font-weight-normal">Sign up to Wiadro AirLines!</h1>
  <input type="text" class="form-control top" name="name" placeholder="First Name" required autofocus>
  <input type="text" class="form-control middle" name="surname" placeholder="Surame" required>
  <input type="email" class="form-control middle" name="email" placeholder="Email address" required>
  <input type="password" class="form-control bottom" name="password" placeholder="Password" required>
  <button class="btn btn-lg btn-success btn-block" type="submit">Sign Up!</button>
</form>
</main>
<%- include("partials/footer") -%>
